[Unit]
Description=MySQL 5.6 database server
After=syslog.target

[Service]
User=mysql
Group=mysql

ExecStart=/usr/local/mysql/bin/mysqld --pid-file=/run/oracle-mysql/oracle-mysql.pid 

Restart=always
PrivateTmp=true

[Install]
WantedBy=multi-user.target
