[Unit]
Description=Oracle MySQL database server
After=syslog.target

[Service]
User=mysql
Group=mysql

ExecStart=/usr/local/mysql/bin/mysqld --pid-file=/run/oracle-mysql/oracle-mysql.pid --socket=/run/oracle-mysql/oracle-mysql.socket --defaults-file=/usr/local/mysql/my.cnf 

Restart=always
PrivateTmp=true

[Install]
WantedBy=multi-user.target
